<section class="text-gray-600 body-font">
  <div
    class="max-w-screen-xl mx-auto mx-autogrid md:p-4 sm:p-4 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="flex flex-wrap -mx-2 -mb-10 text-center">
      <div class="px-4 mb-10 sm:w-1/2">
        <div class="h-64 overflow-hidden rounded-lg">
          <img
            alt="content"
            class="object-cover object-center w-full h-full"
            src="static\images\photo-processing-software-interface-computer-screens-creative-agency-studio.jpg"
            loading="lazy"
          />
        </div>
        <h2 class="mt-6 mb-3 text-2xl font-medium text-gray-900 title-font">
          Image Processing
        </h2>
        <p class="text-base leading-relaxed">
          Image Processing is one of the standout features on our website,
          bringing advanced technology to quickly and accurately process images.
          Get the ease and creativity in managing images with this feature.
        </p>
        <button
          onclick="window.location.href='/imageprocessing';"
          class="flex px-5 py-2 mx-auto mt-6 text-white bg-blue-500 border-0 rounded focus:outline-none hover:bg-blue-600"
        >
          Process Now
        </button>
      </div>
      <div class="px-4 mb-10 sm:w-1/2">
        <div class="h-64 overflow-hidden rounded-lg">
          <img
            alt="content"
            class="object-cover object-center w-full h-full"
            src="/static/images/digital-mixer-recording-studio-with-computer-recording-music.jpg"
            loading="lazy"
          />
        </div>
        <h2 class="mt-6 mb-3 text-2xl font-medium text-gray-900 title-font">
          Audio Processing
        </h2>
        <p class="text-base leading-relaxed">
          Audio Processing is a key feature on our website, utilizing advanced
          technology to enhance sound quality and optimize audio files.
          Experience seamless audio management with this powerful tool.
        </p>
        <button
          onclick="window.location.href='/audioprocessing';"
          class="flex px-5 py-2 mx-auto mt-6 text-white bg-blue-500 border-0 rounded focus:outline-none hover:bg-blue-600"
        >
          Proccess Now
        </button>
      </div>
    </div>
  </div>
</section>
